
User
/* Adicione esta classe para controlar a visibilidade da imagem ampliada */


.imagem-ampliada {
    display: none;
}
.imagem-ampliada.mostrar {
    display: block;
}
 .barra-pesquisa {
  position: relative;
}

.btn-clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #999;
  z-index: 10;
  background-color: transparent;
  border: none;
}
.imagem-ampliada img {
    max-width: 80%; /* Defina a largura máxima desejada */
    max-height: 80%; /* Defina a altura máxima desejada */
}

.imagem-ampliada {
    display: none;
    position: fixed; /* Define a posição fixa para a imagem expandida */
    top: 50%; /* Ajusta a posição verticalmente */
    left: 50%; /* Ajusta a posição horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a imagem na tela */
    z-index: 9999; /* Garante que a imagem esteja acima de outros elementos */
    background-color: rgba(255, 255, 255, 0.9); /* Adiciona um fundo transparente */
    padding: 10px; /* Adiciona um espaço interno */
    border-radius: 10px; /* Adiciona cantos arredondados */
}

.imagem-ampliada .btn-close {
    position: absolute; /* Define a posição absoluta para o botão de fechar */
    top: 1px; /* Ajusta a posição do topo */
    right: 30px; /* Ajusta a posição da direita */
    z-index: 9999; /* Garante que o botão esteja acima da imagem */
}
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .table th, .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    /*white-space: nowrap; /* Impede a quebra de linha no texto */
    width: 150px; /* Define uma largura fixa para todas as células */
    text-align: center;
  }
.formulario-credenciais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #198754;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
    color: #fff;
    font-weight: bold;
  }
  


.formulario-credenciais .btn-close {
    position: absolute; /* Define a posição absoluta para o botão de fechar */
    top: 1px; /* Ajusta a posição do topo */
    right: 01px; /* Ajusta a posição da direita */
    z-index: 9999; /* Garante que o botão esteja acima da imagem */
        
}
.line {
    height: 3px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(4, 105, 45);
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    /* Alinha verticalmente os itens */
    margin-right: -10px;
    /* Espaçamento entre os itens */
}

.navbar-brand {
    margin-right: 50px;
    /* Adiciona margem à direita do logo */
}

.nav-item{
    margin-right: -23px;
}
.input-group {
    position: relative;
    width: 100%;
}

.barra-pesquisa {
    margin-top: 0px; /* Move a barra de pesquisa para baixo */
}

.form-control.lupa {
    padding-right: 45px; /* Ajusta o espaço para a imagem e o elemento de sobreposição */
    background-repeat: no-repeat;
    background-position: right; /* Ajusta a posição da imagem */
    background-size: 70px; /* Define o tamanho da imagem */
    z-index: 1; /* Garante que a imagem fique na frente do elemento de sobreposição */
    height: 40px; /* Define a altura da barra de pesquisa */
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 65px; /* Largura do espaço clicável */
    cursor: pointer;
    z-index: 2; /* Coloca o elemento de sobreposição sobre a imagem */
}
.titulo {
    text-align: center; /* Centraliza o texto */
    color: rgb(4, 105, 45); /* Define a cor do texto como verde */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
th,td {
    vertical-align: middle;
  }

  
  
  .table th {
    padding: 1px; /* Ajuste o preenchimento das células conforme necessário */
    border: 3px solid #ccc; /* Ajuste a espessura da borda das células conforme necessário */
    background-color: #03682b;
    color: #fff;
    
  }
  
  .table td {
    padding: 1px; /* Ajuste o preenchimento das células conforme necessário */
    border: 1px solid #cccccc; /* Ajuste a espessura da borda das células conforme necessário */
    
    
  }
  .inner-table {
    padding: 4px;
    border: none; /* Remove a borda da tabela interna */
}

@media (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .navbar-brand,
    .titulo-container {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      margin-right: 10px;
    }
  
    .barra-pesquisa {
      width: 100%;
      margin-right: 10px;
    }
  
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
    }
  
    .nav-item {
      margin: 0 8px ;
      align-items: center;
      
    }
  
    .navbar-collapse {
      justify-content: center;
      display: flex !important;
    }
  
    .table {
      width: 100%;
      font-size: 12px;
    }
  
    .table th, .table td {
      padding: 3px;
    }
  }
  
  @media (max-width: 425px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }
  
    .navbar-brand,
    .titulo-container {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      margin-right: 10px;
    }
  
    .barra-pesquisa {
      width: 100%;
      margin-right: 10px;
    }
  
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  
    .nav-item {
      margin: 0 auto;
    }
  
    .navbar-collapse {
      justify-content: center;
      display: flex !important;
    }
  
    .table {
      width: 100%;
      font-size: 12px;
    }
  
    .table th, .table td {
      padding: 3px;
    }
  }
  @media (max-width: 375px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }
  
    .navbar-brand,
    .titulo-container {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      
    }
  
    .barra-pesquisa {
      width: 100%;
     
    }
  
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  
    .nav-item {
      margin: 0 auto;
    }
  
    .navbar-collapse {
      justify-content: center;
      display: flex !important;
    }
  
    .table {
      width: 100%;
      font-size: 12px;
    }
  
    .table th, .table td {
      padding: 3px;
    }
  }
  
  @media (max-width: 320px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      
    }
  
    .navbar-brand,
    .titulo-container {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      margin-left: 30px;
    }
  
    .barra-pesquisa {
      width: 100%;
      
    }
  
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  
    .nav-item {
      margin: 0 auto;
      
    }
  
    .navbar-collapse {
      justify-content: center;
      display: flex !important;
    }
  
    .table {
      width: 100%;
      font-size: 12px;
    }
  
    .table th, .table td {
      padding: 3px;
    }
  }




