<br>

<div *ngIf="mensagem" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{mensagem}}</strong>
  <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>
<div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{mensagemErro}}</strong>
  <button (click)="mensagemErro = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>

<div class="container mt-3">

  <main class="container mt-3">


    <div class="d-flex justify-content-center align-items-center mb-4 gap-2">

      <!-- Compras -->
      <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" id="DropdownMenuCompras" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-cart-check me-1"></i> Compras
        </button>
        <ul class="dropdown-menu" aria-labelledby="DropdownMenuCompras">
          <li>
            <a class="dropdown-item" routerLink="/compras"><strong>Consultar</strong></a>
          </li>
          <li>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cadastrarCompras">
              <strong>Cadastrar</strong>
            </a>
          </li>
        </ul>
      </div>

      <!-- Cobranças -->
      <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" id="DropdownMenuCobranca" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-cash-coin me-1"></i> Cobranças
        </button>
        <ul class="dropdown-menu" aria-labelledby="DropdownMenuCobranca">
          <li>
            <a class="dropdown-item" routerLink="/cobranca"><strong>Consultar</strong></a>
          </li>
          <li>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cadastrarCobrancas"
              (click)="abrirModalCobranca()">
              <strong>Cadastrar</strong>
            </a>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" id="DropdownMenuCobranca" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-cash-coin me-1"></i> Despesas
        </button>
        <ul class="dropdown-menu" aria-labelledby="DropdownMenuCobranca">
          <li>
            <a class="dropdown-item" routerLink="/despesas"><strong>Consultar</strong></a>
          </li>
          <li>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#despesas">
              <strong>Cadastrar</strong>
            </a>
          </li>
        </ul>
      </div>

      <!-- Fornecedor -->
      <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" id="DropdownMenuFornecedor" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-truck me-1"></i> Fornecedor
        </button>
        <ul class="dropdown-menu" aria-labelledby="DropdownMenuFornecedor">
          <li>
            <a class="dropdown-item" routerLink="/fornecedor"><strong>Consultar</strong></a>
          </li>
          <li>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cadastrarFornecedor">
              <strong>Cadastrar</strong>
            </a>
          </li>
        </ul>
      </div>

    </div>




    <div class="container mt-3">
      <nav class="navbar navbar-expand-lg navbar-dark"
        style="background-color: #ffffff; margin-bottom: 0px; padding: 12px;">


        <div class="col-md-3 px-3">
          <a [routerLink]="['/cobranca']" [queryParams]="{ filtroDashboard: 'vencidas' }" class="text-decoration-none">
            <div class="card bg-danger text-white text-center p-3 shadow">
              <i class="bi bi-exclamation-circle display-10"></i>
              <h5 class="card-title mt-2">Cobranças vencidas</h5>
              <h1 class="card-text">{{ qtdCobrancasVencidas }}</h1>
            </div>
          </a>
        </div>

        <div class="col-md-3 px-3">
          <a [routerLink]="['/cobranca']" [queryParams]="{ filtroDashboard: 'vencidadia' }"
            class="text-decoration-none">
            <div class="card bg-secondary text-white text-center p-3 shadow">
              <i class="bi bi-exclamation-circle display-10"></i>
              <h5 class="card-title  mt-2">Vencendo hoje</h5>
              <h1 class="card-text">{{ qtdCobrancasVencidasNoDia }}</h1>
            </div>
          </a>
        </div>

        <div class="col-md-3 px-3">
          <a [routerLink]="['/cobranca']" [queryParams]="{ filtroDashboard: 'proxvenc' }" class="text-decoration-none">
            <div class="card bg-warning text-dark text-center p-3 shadow">
              <i class="bi bi-calendar-event display-10"></i>
              <h5 class="card-title mt-2">Prox. vencimento</h5>
              <h1 class="card-text">{{ qtdCobrancasProximoVencimento }}</h1>
            </div>
          </a>
        </div>


        <div class="col-md-3 px-3">
          <a [routerLink]="['/cobranca']" [queryParams]="{ filtroDashboard: 'avencer' }" class="text-decoration-none">
            <div class="card bg-primary text-white text-center p-3 shadow">
              <i class="bi bi-bag-check display-10"></i>
              <h5 class="card-title  mt-2">A vencer</h5>
              <h1 class="card-text">{{ qtdCobrancasAVencer }}</h1>
            </div>
          </a>
        </div>



      </nav>

      <nav class="navbar navbar-expand-lg navbar-dark justify-content-center"
        style="background-color: #ffffff; margin-bottom: 0px; padding: 12px;">

        <div class="col-md-3 px-3">
          <a [routerLink]="['/cobranca']" [queryParams]="{ filtroDashboard: 'vencidasSemPagamento' }" class="text-decoration-none">
            <div class="card bg-warning text-dark text-center p-3 shadow">
              <i class="bi bi-exclamation-circle display-10"></i>
              <h5 class="card-title mt-2">Cobranças a pagar</h5>
              <h1 class="card-text">{{  qtdCobrancasSemPagamento }}</h1>
            </div>
          </a>
        </div>


        <div class="col-md-3 px-3">
          <a [routerLink]="['/cobranca']" [queryParams]="{ filtroDashboard: 'pagasdia' }" class="text-decoration-none">
            <div class="card bg-success text-white text-center p-3 shadow">
              <i class="bi bi-check-circle display-10"></i>
              <h5 class="card-title">Pagas hoje</h5>
              <h1 class="card-text">{{ qtdCobrancasPagasNoDia }}</h1>
            </div>
          </a>
        </div>

        <div class="col-md-3 px-3">
          <a [routerLink]="['/cobranca']" [queryParams]="{ filtroDashboard: 'pagasmes' }" class="text-decoration-none">
            <div class="card bg-success text-white text-center p-3 shadow">
              <i class="bi bi-check-circle display-10"></i>
              <h5 class="card-title  mt-2">Pagas no mês</h5>
              <h1 class="card-text">{{ qtdCobrancasPagasNoMes }}</h1>
            </div>
          </a>
        </div>

      </nav>
      <div class="line container mt-3"></div>
    </div>

  </main>
</div>



<div>
  <div class="modal fade" id="compras" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">

          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Escolha uma ação </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" routerLink="/compras">Consultar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" data-bs-toggle="modal"
            data-bs-target="#cadastrarCompras">Cadastrar</button>

        </div>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="cadastrarCompras" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5 w-100" id="exampleModalLabel">Cadastrar compras</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formCompras">
            <div class="container text-center">
              <div class="row justify-content-center">
                <div class="col-12">
                  <!-- Primeira linha -->
                  <div class="row">
                    <div class="col-md-3">
                      <label><strong>Fornecedor</strong></label>
                      <input type="text" class="form-control" [value]="selectedFornecedor?.fornecedo || ''"
                        (input)="onGenericFornecedorInput($event, 'idForn')" list="fornecedoresList"
                        placeholder="Digite o nome do fornecedor" />
                    </div>

                    <!-- EMPRESA FRETE -->
                    <div class="col-md-3">
                      <label><strong>Empresa frete</strong></label>
                      <input type="text" class="form-control" [value]="selectedEmpresaFrete?.fornecedo || ''"
                        (input)="onGenericFornecedorInput($event, 'idEmpFrete')" list="fornecedoresList"
                        placeholder="Digite o nome da empresa de frete" />
                    </div>

                    <!-- ÚNICO DATALIST COMPARTILHADO -->
                    <datalist id="fornecedoresList">
                      <option *ngFor="let f of fornecedor" [value]="f.fornecedo"></option>
                    </datalist>
                    <div class="col-md-2">
                      <label><strong>N° nota fiscal</strong></label>
                      <input type="text" class="form-control text-center" placeholder="N°" formControlName="numNF" />
                    </div>
                    <div class="col-md-2">
                      <label><strong>N° Nota</strong></label>
                      <input type="text" class="form-control text-center" placeholder="N°" formControlName="numNota" />
                    </div>
                    <div class="col-md-2">
                      <label><strong>Loja</strong></label>
                      <select class="form-select " formControlName="loja">

                        <option *ngFor="let loja of loja" [value]="loja">{{ loja }}</option>
                      </select>
                    </div>
                  </div>
                  <hr>
                  <div class="row justify-content-center">
                    <div class="col-md-2">
                      <label><strong>Valor compra</strong></label>
                      <input type="text" class="form-control text-center" placeholder="R$"
                        formControlName="valorCompra" />
                    </div>
                    <div class="col-md-2">
                      <label><strong>Valor NF</strong></label>
                      <input type="text" class="form-control text-center" placeholder="R$" formControlName="valorNF" />
                    </div>
                    <div class="col-md-2">
                      <label><strong>Valor outros</strong></label>
                      <input type="text" class="form-control text-center" placeholder="R$"
                        formControlName="valorOutro" />
                    </div>
                    <div class="col-md-2">
                      <label><strong>Forma de pag</strong></label>
                      <select class="form-select " formControlName="formaPag">

                        <option *ngFor="let fp of formaPag" [value]="fp">{{ fp }}</option>
                      </select>
                    </div>

                    <div class="col-md-2">
                      <label><strong>Data nota</strong></label>
                      <input type="date" class="form-control text-center" formControlName="dataNota" />
                    </div>
                    <div class="col-md-2">
                      <label><strong>Data entrega</strong></label>
                      <input type="date" class="form-control text-center" formControlName="dataEntrega" />
                    </div>

                  </div>

                  <hr>
                  <div class="row justify-content-center ">

                    <div class="col-md-2">
                      <label><strong>Forma pag frete</strong></label>
                      <select class="form-select " formControlName="formaPagFrete">
                        <option value=""> Selecione </option>
                        <option *ngFor="let fp of formaPag" [value]="fp">{{ fp }}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label><strong>Valor frete</strong></label>
                      <input type="text" class="form-control text-center" placeholder="R$"
                        formControlName="valorFrete" />
                    </div>

                    <div class="col-md-6 ">
                      <label><strong>Observação</strong></label>
                      <textarea class="form-control text-center" placeholder="Digite aqui"
                        formControlName="obs"></textarea>
                    </div>
                  </div>
                  <hr>


                  <div class="modal-footer text-center">
                    <div class="w-100">
                      <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        (click)="CadastrarCompras()">Cadastrar</button>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="cadastrarCobrancas" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel">Cadastrar cobranças</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formCobrancas">
          <div formArrayName="cobrancas">
            <div *ngFor="let cobranca of cobrancas.controls; let i = index" [formGroupName]="i"
              class="border rounded p-3 mb-3">
              <h5 class="text-start mb-3 text-center">Cobrança {{ i + 1 }}</h5>
              <div class="row justify-content-center">

                <div class="col-md-2 text-center">
                  <label><strong>Id compra</strong></label>
                  <input type="text" class="form-control text-center" placeholder="ID" formControlName="idCompra" />

                </div>
                <div class="col-md-5 text-center">
                  <label><strong>Fornecedor</strong></label>
                  <select class="form-select text-center" formControlName="idForn">
                    <option value=""> Selecione um fornecedor</option>
                    <option *ngFor="let f of fornecedor" [value]="f.id">{{ f.fornecedo | uppercase }}</option>
                  </select>
                  <div class="text-danger"
                    *ngIf="cobrancas.at(i).get('idForn')?.touched && cobrancas.at(i).get('idForn')?.invalid">
                    Selecione um fornecedor da cobrança
                  </div>
                </div>

              </div>
              <div class="row justify-content-center">


                <div class="col-md-2 text-center">
                  <label><strong>N° da nota</strong></label>
                  <input type="text" class="form-control text-center" placeholder="N°" formControlName="numNota" />

                </div>
                <div class="col-md-2 text-center">
                  <label><strong>N° nota fiscal</strong></label>
                  <input type="text" class="form-control text-center" placeholder="N°" formControlName="numNF" />
                </div>
                <div class="col-md-2 text-center">
                  <label><strong>Valor frete</strong></label>
                  <input type="text" class="form-control text-center" placeholder="R$" formControlName="valorFrete" />
                </div>
                <div class="col-md-2 text-center">
                  <label><strong>Valor total</strong></label>
                  <input type="text" class="form-control text-center" placeholder="R$" formControlName="valorCompra" />
                </div>
                <div class="col-md-3">
                  <label><strong>Loja</strong></label>
                  <select class="form-select " formControlName="loja">
                    <option value=""> Selecione </option>
                    <option *ngFor="let loja of loja" [value]="loja">{{ loja }}</option>
                  </select>
                </div>


              </div>

              <hr>
              <div class="row mt-2 text-center">
                <div class="col-md-1">
                  <label><strong>Parcela</strong></label>
                  <input type="text" class="form-control text-center" formControlName="parcela" />
                </div>
                <div class="col-md-3">
                  <label><strong>Data vencimento</strong></label>
                  <input type="date" class="form-control text-center" formControlName="dataVenc" />
                </div>
                <div class="col-md-2">
                  <label><strong>Valor</strong></label>
                  <input type="text" class="form-control text-center" placeholder="R$" formControlName="valorCobr" />
                </div>

                <div class="col-md-3">
                  <label><strong>Tipo cobrança</strong></label>
                  <select class="form-select text-center" formControlName="tipoCobr">
                    <option value=""> Selecione </option>
                    <option *ngFor=" let form of formaPag" [value]="form">{{form}}</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label><strong>N° cobrança</strong></label>
                  <input type="text" class="form-control text-center" placeholder="N°" formControlName="numCobr" />
                </div>
              </div>

              <hr>


              <div class="row mt-2 text-center">
                <div class="col-md-12">
                  <label><strong>Observação</strong></label>
                  <textarea class="form-control text-center" placeholder="Digite aqui" formControlName="obs"></textarea>
                </div>
              </div>

              <div class="mt-2 d-flex align-items-center">
                <div class="flex-grow-1">
                  <div *ngIf="!valorCobradoIgualValorTotal" class="msg-erro"
                    title="Erro: soma dos valores cobrados não bate com o valor total">
                    <small class="piscar" style="color: red; font-weight: bold;">
                      ❗ Valores cobrados NÃO batem com o valor total!
                    </small>
                  </div>
                </div>

                <button type="button" class="btn btn-danger btn-sm ms-2" (click)="removerCobranca(i)"
                  title="Remover cobrança {{ i + 1 }}">
                  <i class="bi bi-trash"></i>
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>

      <div class="col-md-9">
        <div class="d-flex gap-2 mt-1">
          <button type="button" class="btn btn-success" (click)="adicionarCobranca()">
            <i class="bi bi-plus-circle me-1"></i><strong>Adicionar</strong>
          </button>

          <button type="button" class="btn btn-danger" (click)="removerUltimaCobranca()"
            [disabled]="cobrancas.length === 0">
            <i class="bi bi-trash"></i> Remover
          </button>
        </div>
      </div>

      <div class="modal-footer text-center">
        <div class="w-100">
          <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
            (click)="CadastrarCobranca()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
  <p style="color: white">Aguarde a realização do cadastro...</p>
</ngx-spinner>


<div class="modal fade" id="modalConfirmarCobranca" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title w-100">Cadastro de Cobrança</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p>Deseja cadastrar uma cobrança para a compra do <strong>
            <h1 style="color: rgba(8, 98, 13, 0.814);">ID : {{ ultimaCompra?.id }} ?</h1>
          </strong></p>
      </div>
      <div class="modal-footer justify-content-center">
        <!-- Botão "Não" atualizado -->
        <button type="button" class="btn btn-secondary" (click)="cancelarCriacaoCobranca()">Não</button>

        <button type="button" class="btn btn-primary" (click)="confirmarCriarCobranca()">Sim</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="despesas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg ">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel">Cadastrar despesas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formDespesas">
          <div class="container text-center">
            <div class="row justify-content-center">
              <div class="col-12">

                <!-- Primeira linha -->
                <div class="row mb-16">
                  <div class="col-md-6">
                    <label><strong>Nome</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="nomeLocal" />
                  </div>
                  <div class="col-md-6">
                    <label><strong>Despesa</strong></label>
                    <select class="form-select text-center" formControlName="nomeDespesa">
                      <option value=""> Selecione </option>
                      <option *ngFor=" let form of tipoDespesa" [value]="form">{{form}}</option>
                    </select>
                  </div>


                </div>
                <hr>
                <!-- Segunda linha -->
                <div class="row mb-12 row justify-content-center">
                  <div class="col-md-3">
                    <label><strong>Valor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="R$ 0,00" formControlName="valor" />

                  </div>

                  <div class="col-md-2">
                    <label><strong>Quantidade</strong></label>
                    <input type="text" class="form-control text-center" placeholder="x" formControlName="quantidade" />
                  </div>
                  <div class="col-md-3">
                    <label><strong>Loja</strong></label>
                    <select class="form-select " formControlName="loja">
                      <option value=""> Selecione </option>
                      <option *ngFor="let loja of loja" [value]="loja">{{ loja }}</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label><strong>Pagamento</strong></label>
                    <select class="form-select text-center" formControlName="formaPagamento">
                      <option value=""> Selecione </option>
                      <option *ngFor=" let form of formaPag" [value]="form">{{form}}</option>
                    </select>
                  </div>

                </div>
                <hr>

                <div class="row mb-18 justify-content-center">
                  <div class="col-md-5">
                    <label><strong>Data compra</strong></label>
                    <input type="date" class="form-control text-center" formControlName="dataCompra" />
                  </div>
                  <div class="col-md-7 ">
                    <label><strong>Obs</strong></label>
                    <textarea class="form-control text-center" placeholder="Observação"
                      formControlName="observacao"></textarea>
                  </div>

                </div>

                <hr>

              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer text-center">
        <div class="w-100">
          <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
            (click)="cadastrarDespesas()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="cadastrarFornecedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel">Cadastrar Fornecedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formFornecedor">
          <div class="container text-center">
            <div class="row justify-content-center">
              <div class="col-12">

                <!-- Primeira linha -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Razão social</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="empresa" />
                  </div>
                  <div class="col-md-6">
                    <label><strong>CNPJ</strong></label>
                    <input type="text" class="form-control text-center" placeholder="00.000.000/0000-00"
                      formControlName="cnpj" (input)="formatarCNPJ($event)" />
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-12">
                    <label><strong>Endereço</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="endereco" />
                  </div>
                </div>

                <hr>

                <!-- Segunda linha -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Telefone</strong></label>
                    <input type="text" class="form-control text-center" placeholder="(00) 00000-0000"
                      formControlName="telefone" (input)="formatarTelefone($event)" />

                  </div>
                  <div class="col-md-6">
                    <label><strong>Fornecedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="fornecedo" />
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Tipo Fornecedor</strong></label>
                    <select class="form-select text-center" formControlName="tipoFornecedor">
                      <option value=""> Selecione </option>
                      <option *ngFor=" let tipo of tipoFornec" [value]="tipo">{{tipo}}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label><strong>Vendedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="vendedor" />
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <label><strong>Tel - Vendedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="(00) 00000-0000"
                      formControlName="teleVendedor" (input)="formatarTelefoneVendedor($event)" />
                  </div>
                  <div class="col-md-6 ">
                    <label><strong>obs</strong></label>
                    <textarea class="form-control text-center" placeholder="Observação"
                      formControlName="obs"></textarea>
                  </div>
                </div>

                <hr>

              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer text-center">
        <div class="w-100">
          <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
            (click)="CadastrarFornecedo()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>