<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffffff; margin-bottom: 0px; padding: 0px;">

    
    <div class="container">
        <a class="navbar-brand" href="consulta-produtos">
            <img src="/assets/logo.jpeg" alt="Logo" style="width: 200px; height: auto;">

        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link black-text" routerLink="/consulta-produtos">
                        <img src="/assets/procurar.png" alt="Ícone de Consulta" width="105" height="105"> Consultar Produtos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black-text" routerLink="/cadastrar-produtos">
                        <img src="/assets/adicionar.png" alt="Ícone de Cadastro" width="105" height="105"> Cadastrar Produtos
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>
<div class="line"></div>
