.navbar-nav .dropdown-menu {
    display: none; /* Inicialmente oculto */
    position: absolute;
    background-color: #036822; /* Cor do fundo */
    border: none;
    box-shadow: none;
    width: 190%;
    z-index: 1000;
   
    
}

.navbar-nav .dropdown-menu .dropdown-item {
    
    background-color: #ffffff; /* Cor do fundo ao passar o mouse */
    color: #036822;
    
  
  
   
   
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #ffffff; /* Cor do texto */
    background-color: #87c746;/* Cor do fundo */
}

/* Mostrar o dropdown no hover (desktop) */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

/* Mostrar o submenu no hover (desktop) */
.navbar-nav .dropdown-submenu:hover .dropdown-menu {
    display: block;
}

/* Responsividade */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        background-color: #036822;
        
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        display: none; /* Inicialmente oculto em dispositivos móveis */
        background-color: #036822;
    }

    .navbar-nav .dropdown-menu.show {
        display: block;
        
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
        display: block;
        background-color: #036822;
        color: #ffffff;
        text-decoration: none;
        
    }

    .dropdown-item:hover {
        background-color: #87c746;
        
    }
}

/* Classe para exibir o dropdown quando a classe 'show' for aplicada */
.navbar-nav .dropdown.show .dropdown-menu {
    display: block;
}

/* Ajustar submenu suspenso */
.dropdown-submenu .dropdown-menu {
    position: static;
    margin-top: 0;
    
}

/* Menu de navegação principal */
.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    background-color: #036822;
    padding: 0.5rem 1rem;
    display: block;
    top: 0;
    z-index: 100;
    width: 100%;
    
}

/* Fundo verde no menu superior até o final da tela */
.navbar {
    background-color: #036822;
    width: 100%; /* Largura completa da janela */
    margin: 0; /* Remover margem */
}

/* Configurar container-fluid para ocupar todo o topo */
.container-fluid{
    width: 100%;
    background-color: #036822;
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    z-index: 100;
}

.nav-item .nav-link {
    color: #ffffff;
    background-color: #036822;
    padding: 0.5rem 1rem;
    display: block;
    top: 0;
    z-index: 1000;
}