<nav *ngIf="autent" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button style="color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span style="color: white;" class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="inicio"><strong>Home</strong></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="DropdownMenuLink1" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>Produtos</strong>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink1">
                     
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" aria-expanded="false" href="consulta-produtos"><strong>Pisos e Revestimentos</strong></a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" aria-expanded="false" href="consultar-produtoGeral"><strong>Produtos Gerais</strong></a>
                        </li>
                     
                    </ul>
                    
                     
                        
                   

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="DropdownMenuLink2" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>Tarefas</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink2">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="ocorrencia"><strong>Ocorrências</strong></a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="produtofalta-consultar"><strong>Produtos em falta</strong></a>
                        </li>
                    </ul>
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="DropdownMenuLink3" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>Utilitários</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink3">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="consulta-fornecedor"><strong>Fornecedor</strong></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="DropdownMenuLink4" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>Entregas</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink4">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="consulta-entrega"><strong>Consulta entrega</strong></a>
                        </li>
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="DropdownMenuLink4" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>Títulos a receber</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink4">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="consultar-titulo"><strong>Consulta títulos</strong></a>
                            
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="cadastrar-titulofuncionario"><strong>Consulta títulos funcionários</strong></a>
                        </li>
                    </ul>
                   
                    
                </li>
               <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="dashboard"><strong>Financas</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>