.background {
  background-image: url('/assets/FundoLogin.png');
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-size: cover;
 
}




