.line {
    height: 3px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(4, 105, 45);
}
.titulo {
    text-align: center; 
    color: rgb(4, 105, 45);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  margin: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #534b4b;
  border: 2px solid #aaa;
  border-radius: 4px;
}


.custom-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #e42222;
  border-color: #ffffff;
}
.entrega-preenchida {
  background-color: rgb(4, 105, 45) !important; 
  border-color: #28a745 !important;
}

.custom-checkbox .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* ✔️ Mostra o tick apenas se estiver marcado */
.custom-checkbox input[type="checkbox"]:checked ~ .checkmark::after {
  display: block;
}

/* ⛔ Apenas impede clique visualmente se estiver desabilitado */
.custom-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  cursor: not-allowed;
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    
    margin-right: -10px;
   
}
.texto-obs {
  white-space: pre-wrap;     
  word-break: break-word;     
  max-height: 300px;          
  overflow-y: auto;           
  padding: 8px;
 
  border-radius: 4px;
  
}
.navbar-brand {
    margin-right: 50px;
   
}
 .barra-pesquisa {
  position: relative;
}

.btn-clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #999;
  z-index: 10;
  background-color: transparent;
  border: none;
}
.nav-item{
    margin-right: -30px;
}
.input-group {
    position: relative;
    width: 100%;
}
.col .btn {
    margin: 10px 20px; /* Adiciona 10px de margem vertical e 20px de margem horizontal */
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .table th, .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    word-break: break-word;  
    width: 150px; 
    text-align: center;
  }
  td {
    vertical-align: middle;
  }

  .data-tooltip {
    position: absolute;
    bottom: 120%; /* aparece acima do número */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
    
}
.data-tooltip {
    position: absolute;
    bottom: 120%; /* aparece acima do número */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 13px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.data-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.quantidade-texto {
    position: relative;
    cursor: pointer; /* agora mostra a mãozinha */
}

.quantidade-texto:hover .data-tooltip {
    opacity: 1;
}
  .table th {
    padding: 1px;
    border: 3px solid #ccc; 
    background-color: #03682b;
    color: #fff;
    
  }
  
  .table td {
    padding: 1px; 
    border: 1px solid #cccccc; 
    word-break: break-word; 
    
  }
  .inner-table {
    padding: 4px;
    border: none; 
}
  .formulario-credenciais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #198754;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
    color: #fff;
    font-weight: bold;
  }
  


.formulario-credenciais .btn-close {
    position: absolute; 
    top: 1px; 
    right: 01px; 
    z-index: 9999; 
        
}  
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
  }

  .barra-pesquisa {
    width: 100%;
    margin-right: 10px;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .nav-item {
    margin: 0 8px ;
    align-items: center;
    
  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th, .table td {
    padding: 3px;
  }
}

@media (max-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
  }

  .barra-pesquisa {
    width: 100%;
    margin-right: 10px;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    margin: 0 auto;
  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th, .table td {
    padding: 3px;
  }
}
@media (max-width: 375px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    
  }

  .barra-pesquisa {
    width: 100%;
   
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    margin: 0 auto;
  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th, .table td {
    padding: 3px;
  }
}

@media (max-width: 320px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 30px;
  }

  .barra-pesquisa {
    width: 100%;
    
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    margin: 0 auto;
    
  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th, .table td {
    padding: 3px;
  }
}