<div class="container mt-3">
    <h3><strong>EDITAR PRODUTO</strong></h3>
    <p>Preencha os campos para realizar a edição do produto.</p>
    <form>
        <!-- primeira linha -->
        <div class="row">
            <!-- primeira coluna -->
            <div class="col-md-2">
                <label><strong>Código:</strong></label>
                <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="produto.codigo" />
            </div>
            <div class="col-md-5">
                <label><strong>Nome do produto:</strong> </label>
                <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="produto.nome" />
            </div>
            <!-- segunda coluna -->
            <div class="col-md-5">
                <label><strong>Descrição:</strong></label>
                <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="produto.descricao" />
            </div>
        </div>
        <!-- linha de separação -->
        <hr>
        <!-- segunda linha -->
        <div class="row">
            <!-- primeira coluna -->
            <div class="col-md-2">
                <label><strong>Ton:</strong></label>
                <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="produto.ton" />
            </div>
            <!-- segunda coluna -->
            <div class="col-md-3">
                <label><strong>Marca:</strong></label>
                <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="produto.marca" />
            </div>
            <!-- terceira coluna -->
            <div class="col-md-3">
                <label><strong>Peça CX</strong></label>
                <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="produto.pecaCX" />
            </div>
            <!-- quarta coluna -->
            <div class="col-md-2">
                <label><strong>M2 CX</strong></label>
                <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="produto.m2CX" />
            </div>
        </div>
        <!-- linha de separação -->
        <hr>
        <!-- terceira linha -->
        <div class="row">
            <!-- primeira coluna -->
            <div class="col-md-3">
                <label><strong>Preço M2</strong></label>
                <input type="text" class="form-control" placeholder="R$0,00" [(ngModel)]="produto.precoM2" />
            </div>
            <!-- segunda coluna -->
            <div class="col-md-3">
                <label><strong>Preço CX</strong></label>
                <input type="text" class="form-control" placeholder="R$0,00" [(ngModel)]="produto.precoCX" />
            </div>

            <div class="col-md-4">
                <label>Upload de Imagem:</label>
                <input type="file" class="form-control" />
            </div>
        </div>
        
        <!-- linha de separação -->
        <hr>
        <!-- quarta linha -->
        <div class="row mt-3">
            <!-- primeira coluna -->
            <div class="col">
                <label><strong>Categoria</strong></label>
                <select class="form-select" [(ngModel)]="produto.categoria">
                    <option value="">Selecione uma categoria</option>
                    <option *ngFor="let c of categorias" [value]="c.id">
                        {{ c.nome }}
                    </option>
                </select>
            </div>
            <!-- segunda coluna -->
            <div class="col">
                <label><strong>Fornecedor</strong></label>
                <select class="form-select" [(ngModel)]="produto.fornecedor">
                    <option value="">Selecione um fornecedor</option>
                    <option *ngFor="let f of fornecedores" [value]="f.id">
                        {{ f.nome }}
                    </option>
                </select>
            </div>
        </div>
        <!-- linha de separação -->
        
        <hr>
        <!-- quinta linha -->
        <div class="row mt-3">
            <!-- coluna única -->
            <div class="col text-center">
                <button class="btn btn-success btn-lg" (click)="atualizarProduto()">
                    Realizar Cadastro
                </button>
            </div>
        </div>
    </form>
</div>
