<div class="container mt-3" >


  <nav class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #ffffff; margin-bottom: 0px; padding: 12px;">



    <div class="container">


      <a class="navbar-brand" href="inicio">
        <img src="/assets/cplg.png" alt="Logo" style="width: 200px; height: auto;">

      </a>
      <div class="container">
        <br>

        <h2 class="text-center titulo"><strong>Consulta de entregas</strong></h2>

        <div class="input-group mb-3 barra-pesquisa">
          <input type="text" class="form-control lupa" placeholder="Digite para pesquisar a entrega"
            aria-label="Pesquisar" aria-describedby="basic-addon1" [(ngModel)]="expression" (input)="filtrarEntregas()">
            <i class=" bi-trash-fill	btn-clear" (click)="limparPesquisa()"></i>
          <div class="overlay" (click)="filtrarEntregas()"></div>
        </div>
      </div>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <br>
            <a class="nav-link black-text" routerLink="/consulta-entrega">
              <img src="/assets/2.png" alt="Ícone de Consulta" width="110" height="110">
            </a>
          </li>
          <li class="nav-item">
            <br>
            <a class="nav-link black-text" routerLink="/cadastra-entrega">
              <img src="/assets/2.2.png" alt="Ícone de Cadastro" width="110" height="110">
            </a>
          </li>

          <li class="nav-item">
            <br>
            <a class="nav-link black-text" routerLink="/historico-entrega">
              <img src="/assets/1.jpg" alt="Ícone de Consulta" width="110" height="110">
            </a>
          </li>


        </ul>
      </div>

    </div>
  </nav>


  <div class="line my-3"></div>

  <div *ngIf="mensagem" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{mensagem}}</strong>
    <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
  </div>



  <div class="container" style="padding: 0; margin: 0;">




    <div class="card mb-3 ">
      <h1 class="section-header text-center" style="cursor: pointer;" (click)="togglePendencias()">
        <strong>Pendentes: {{ getAllPendencias().length || 0 }}</strong>
      </h1>
      <!-- Tabela de pendências que será exibida apenas quando pendencia for true -->
      <div *ngIf="pendenciaEntrega" class="table-responsive">
        <hr>
        <div *ngFor="let periodo of ['Horário comercial', 'Manhã', 'Tarde', 'Diferênciado']" style="color: white;">
          <h5><strong>{{ periodo }}</strong></h5>
          <table class="table" *ngIf="getPendenciasPorPeriodo(getAllPendencias(), periodo).length > 0">
            <thead>
              <tr>
                <th>Nota</th>
                <th>Loja</th>
                <th style="width: 4%;">Pagamento</th>
                <th>Usuario</th>
                <th style="width: 8%;">N° Nota</th>
                <th style="width: 18%;">Cliente</th>
                <th style="white-space: nowrap;">Data venda</th>
                <th style="width: 6%;">Valor</th>
                <th>Vendedor</th>
                <th style="width: 32%;">Observação</th>
                <th>Motorista</th>
                <th style="width: 8%;">Prox Ent</th>
                <th>Dia</th>
                <th>Op</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let pendente of getPendenciasPorPeriodo(getAllPendencias(), periodo) | paginate: { itemsPerPage: 50, currentPage: p };let i = index">
                <tr>
                  <td [ngStyle]="{'background-color': getColor(i)}">
                    <img [src]="getFullImageUrl(pendente.imagemUrl)" alt="{{ pendente.nome }}" class="img-fluid"
                      style="width: 30px;" (click)="expandirImagem(pendente.imagemUrl)">
                  </td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{pendente.loja}}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">
                    <span><strong>{{ getStatusPagamento(pendente.entregaId) }}</strong></span>
                    <br>
                    <span><strong>{{ getNomeUsuarioPagamento(pendente.entregaId) }}</strong></span>
                  </td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.nome }}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.numeroNota }}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.nomeCliente }}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.dataVenda }}</td>
                  <td [ngStyle]="{'background-color': getColor(i), 'white-space': 'nowrap'}">R$ {{
                    formatarValor(pendente.valor) }}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.vendedor }}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.observacaoPendencia | uppercase }}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">
                    <div *ngIf="!isEditingFor(pendente.id) && pendente.motorista; else selecionarMotoristaPendencia;">
                      <span (click)="startEditing(pendente.id)">{{ pendente.motorista | uppercase }}</span>
                    </div>
                    <ng-template #selecionarMotoristaPendencia>
                      <select [(ngModel)]="pendente.motorista" (change)="onMotoristaChange(pendente)">
                        <option *ngFor="let motorista of motoristas" [value]="motorista">{{ motorista }}</option>
                      </select>
                    </ng-template>
                  </td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.diaSemanaPendencia | date:
                    'dd/MM/yyyy'}}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">{{ pendente.dataEntregaProximaEntrega }}</td>
                  <td [ngStyle]="{'background-color': getColor(i)}">
                    <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#opcoes' + pendente.entregaId">+</button>
                  </td>

                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Exibição da imagem ampliada dentro do dia ou pendente -->
      <div class="imagem-ampliada" *ngIf="imagemAmpliadaUrl" (wheel)="controlarZoom($event)">
        <button class="btn-close" (click)="fecharImagemAmpliada()">&times;</button>
        <div class="imagem-container">
          <img [src]="imagemAmpliadaUrl" alt="Imagem Ampliada" [style.transform]="zoomLevel"
            (contextmenu)="exibirMenuImpressao($event)" />
        </div>
      </div>

    </div>



    <div class="card mb-3" *ngFor="let data of datas">

      <h1 (click)="toggleTable(data)" class="section-header text-center" style="cursor: pointer;">
        <strong> {{ data.nome }}: {{ data.contagemUnica }} </strong>
      </h1>
      <div *ngIf="data.exibir" class="table-responsive">
        <hr>
        <!-- Remover o cabeçalho da "Fila de entrega" -->
        <div>
          <div *ngFor="let periodo of ['Horário comercial', 'Manhã', 'Tarde', 'Diferênciado']" style="color: white;">

            <hr>
            <h5><strong>{{ periodo }}</strong></h5>
            <table class="table" *ngIf="getEntregasPorPeriodo(data.entregas, periodo).length > 0">
              <thead>
                <tr>
                  <th>✓</th>
                  <th>Nota</th>
                  <th>Loja</th>
                  <th style="width: 4%;">Pagamento</th>
                  <!--<th>Usuario</th>-->
                  <th style="width: 6%;">N° Nota</th>
                  <th style="width: 18%;">Cliente</th>
                  <th style="white-space: nowrap;">Data venda</th>
                  <th style="width: 6%;">Valor</th>
                  <th>Vendedor</th>
                  <th style="width: 34%;">Observação</th>
                  <th>Motorista</th>
                  <th>Op </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let entrega of getEntregasPorPeriodo(data.entregas, periodo) ;let i = index">
                  <tr>

                    <td [ngStyle]="{'background-color': getColor(i)}">
                      <input type="checkbox" [checked]="entrega.confirmado" [disabled]="entrega.disabled"
                        (click)="abrirFormularioImpressao(entrega)">
                    </td>
                    <td [ngStyle]="{'background-color': getColor(i)}">
                      <img [src]="getFullImageUrl(entrega.thumbnail)" alt="{{ entrega.nome }}" class="img-fluid"
                        style="width: 30px;" (click)="expandirImagem(entrega.imagemUrl, data)">
                    </td>
                    <td [ngStyle]="{'background-color': getColor(i)}">{{entrega.loja}}
                    </td>
                    <td [ngStyle]="{'background-color': getColor(i)}">
                      <!-- Exibir o select enquanto o pagamento não estiver confirmado -->
                      <ng-container *ngIf="!entrega.pagamentoConfirmado; else pagamentoConfirmado">
                        <select [(ngModel)]="entrega.pagamento" (change)="onPagamentoChange(entrega)">
                          <option *ngFor="let pagamento of pagamentos" [ngValue]="pagamento">{{ pagamento }}</option>
                        </select>
                      </ng-container>

                      <!-- Exibir o texto do método de pagamento após a confirmação -->
                      <ng-template #pagamentoConfirmado>
                        <div>
                          <span><strong> {{ entrega.pagamento }}</strong></span>
                          <br>
                          <span><strong>{{ entrega.nomeUsuarioPagamento || 'Nome não disponível' }}</strong></span>
                        </div>
                      </ng-template>
                    </td>
                    <!--<td [ngClass]="{'text-red': isNotaPendente(entrega.numeroNota, data.pendencias)}
                      " [ngStyle]="{'background-color': getColor(i)}">{{ entrega.nome| uppercase }}
                    </td>-->
                    <td [ngStyle]="{'background-color': getColor(i)}">{{ entrega.numeroNota }}</td>
                    <td [ngStyle]="{'background-color': getColor(i)}">{{entrega.nomeCliente | uppercase }}</td>
                    <td [ngStyle]="{'background-color': getColor(i)}">{{ entrega.dataVenda }}</td>
                    <td [ngStyle]="{'background-color': getColor(i), 'white-space': 'nowrap'}">R$ {{
                      formatarValor(entrega.valor) }}</td>
                    <td [ngStyle]="{'background-color': getColor(i)}">{{ entrega.vendedor }}</td>
                    <td [ngStyle]="{'background-color': getColor(i)}">{{entrega.observacao }}</td>
                    <td [ngStyle]="{'background-color': getColor(i)}">
                      <div *ngIf="!isEditingFor(entrega.id) && entrega.motorista; else selecionarMotoristaPendencia;">
                        <span (click)="startEditing(entrega.id)">{{ entrega.motorista }}</span>
                      </div>
                      <ng-template #selecionarMotoristaPendencia>
                        <select [(ngModel)]="entrega.motorista" (change)="onMotoristaChange(entrega)"
                          [ngStyle]="{'background-color': getColor(i)}">
                          <option *ngFor="let motorista of motoristas" [ngValue]="motorista">{{ motorista }}</option>
                        </select>
                      </ng-template>
                    </td>

                    <td [ngStyle]="{'background-color': getColor(i)}">
                      <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#opcoes' + entrega.id">+</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Exibição da imagem ampliada dentro do dia -->
        <div class="imagem-ampliada" *ngIf="data.imagemAmpliadaUrl" (wheel)="controlarZoom($event)">
          <button class="btn-close" (click)="fecharImagemAmpliada(data)">&times;</button>
          <div class="imagem-container">
            <img [src]="data.imagemAmpliadaUrl" alt="Imagem Ampliada" [style.transform]="zoomLevel"
              (contextmenu)="exibirMenuImpressao($event)" />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentForm === 'pagamento'" class="formulario-credenciais text-center">
      <button class="btn-close btn-close-white" (click)="fecharFormularioCredenciais()">&times;</button>
      <h4>Confirme o pagamento</h4>
      <div class="mb-3">
        <label for="matriculaInput" class="form-label">Matrícula</label>
        <input type="text" class="form-control" id="matriculaInput" placeholder="Digite sua matrícula"
          [(ngModel)]="matricula">
      </div>
      <div class="mb-3">
        <label for="senhaInput" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senhaInput" placeholder="Digite sua senha" [(ngModel)]="senha">
      </div>
      <button class="btn btn-outline-light" (click)="salvarPagamento()" style="font-weight: bold;">Confirmar</button>
    </div>


    <div *ngFor="let entrega of entregas">
      <div class="modal fade" [attr.id]="'opcoes' + entrega.id" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">
                Entrega do dia {{ entrega.dataEntrega | date: 'dd/MM/yyyy' }}
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Verifique os dados e escolha uma ação</p>
              <hr />
              <div class="row">
                <div class="col-md-4">N° Nota:</div>
                <div class="col-md-7">{{entrega.numeroNota}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Loja:</div>
                <div class="col-md-7">{{entrega.loja}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Cliente:</div>
                <div class="col-md-7">{{entrega.nomeCliente}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Valor:</div>
                <div class="col-md-7">{{entrega.valor}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Vendedor:</div>
                <div class="col-md-7">{{entrega.vendedor}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Motorista:</div>
                <div class="col-md-7">{{entrega.motorista}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Data da entrega:</div>
                <div class="col-md-7">{{entrega.dataEntrega}}</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="abrirFormularioBaixaEntrega(entrega)"
                data-bs-dismiss="modal">Concluir</button>
              <button type="button" class="btn btn-warning" (click)="abrirFormularioPendencia(entrega)"
                data-bs-dismiss="modal">Pendente</button>
              <button class="btn btn-dark" [routerLink]="['/editar-entrega', entrega.id]" data-bs-dismiss="modal">
                Editar
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>


    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
      <p style="color: white"> Aguarde... </p>
    </ngx-spinner>

    <div *ngIf="currentForm === 'impressao'" class="formulario-credenciais text-center">
      <button class="btn-close btn-close-white" (click)="fecharFormularios()">&times;</button>
      <h4>Confirme impressão</h4>
      <div class="mb-3">
        <label for="matriculaInput" class="form-label">Matrícula</label>
        <input type="text" class="form-control" id="matriculaInput" placeholder="Digite sua matrícula"
          [(ngModel)]="matricula">
      </div>
      <div class="mb-3">
        <label for="senhaInput" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senhaInput" placeholder="Digite sua senha" [(ngModel)]="senha">
      </div>
      <button class="btn btn-outline-light" (click)="Impressao(ent)" style="font-weight: bold;">Confirmar</button>
    </div>


    <div *ngIf="entregaEditando && entregaEditando === entregaEditando" class="formulario-credenciais text-center">
      <button class="btn-close btn-close-white" (click)="fecharFormularioCredenciaisMotorista()">&times;</button>

      <h4>Confirme a troca de motorista</h4>
      <div class="mb-3">
        <label for="matriculaInput" class="form-label">Matrícula</label>
        <input type="text" class="form-control" id="matriculaInput" placeholder="Digite sua matrícula"
          [(ngModel)]="matricula">
      </div>
      <div class="mb-3">
        <label for="senhaInput" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senhaInput" placeholder="Digite sua senha" [(ngModel)]="senha">
      </div>

      <button class="btn btn-outline-light" (click)="salvarCredenciais()" style="font-weight: bold;">Confirmar</button>
    </div>

    <div *ngIf="currentForm === 'baixaEntrega'" class="formulario-credenciais text-center">
      <button class="btn-close btn-close-white" (click)="fecharFormularios()">&times;</button>
      <h4>Confirmar a entrega</h4>
      <div class="mb-3">
        <label for="matriculaInputBaixaEntrega" class="form-label">Matrícula</label>
        <input type="text" class="form-control" id="matriculaInputBaixaEntrega" placeholder="Digite sua matrícula"
          [(ngModel)]="matricula">
      </div>
      <div class="mb-3">
        <label for="senhaInputBaixaEntrega" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senhaInputBaixaEntrega" placeholder="Digite sua senha"
          [(ngModel)]="senha">
      </div>
      <form [formGroup]="formi">
        <div>
          <div class="row">
            <label><strong>Data</strong></label>
            <input type="date" class="form-control" formControlName="dataEntregaBaixa"
              (change)="onDateChange($event)" />
          </div>

          <div class="row">
            <label><strong>Dia da Semana</strong></label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="diaSemanaBaixa"
              readonly />
          </div>
        </div>
      </form>
      <button class="btn btn-outline-light" (click)="concluirEntrega(baixaEntrega)" style="font-weight: bold;"
        data-bs-toggle="modal" data-bs-target="#uploadImagem">Confirmar</button>
    </div>


    <div *ngIf="currentForm === 'pendencia'" class="formulario-credenciais-pendencia text-center">
      <button class="btn-close btn-close-white" (click)="fecharFormularios()">&times;</button>
      <h4>Confirme a pendência</h4>
      <div class="mb-3">
        <label for="matriculaInputPendencia" class="form-label">Matrícula</label>
        <input type="text" class="form-control" id="matriculaInputPendencia" placeholder="Digite sua matrícula"
          [(ngModel)]="matricula">
      </div>
      <div class="mb-3">
        <label for="senhaInputPendencia" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senhaInputPendencia" placeholder="Digite sua senha"
          [(ngModel)]="senha">
      </div>

      <form [formGroup]="formi">
        <div>
          <div class="row">
            <label><strong>Observação</strong></label>
            <textarea class="box-area" placeholder="Digite aqui" formControlName="observacaoPendencia"></textarea>
          </div>
          <div class="row">
            <label><strong>Data</strong></label>
            <input type="date" class="form-control" formControlName="dataEntregaProximaEntrega"
              (change)="onDateChange($event)" />

          </div>

          <div class="row">
            <label><strong>Dia da Semana</strong></label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="diaSemanaPendencia"
              readonly />

          </div>

        </div>

      </form>
      <br>

      <button class="btn btn-outline-light" (click)="onPendente(pendenciaEntrega)"
        style="font-weight: bold;">Confirmar</button>
    </div>



    <div class="modal fade" id="uploadImagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">
              Insira a imagem da nota
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" *ngIf="entrega">
            <form [formGroup]="form">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-8">

                    <div class="col-md-12">
                      <label><strong>Upload de Imagem</strong></label>
                      <input type="file" class="form-control" id="fileInputModal" (change)="onFileSelected($event)" />
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-success" (click)="uploadImagem()">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>