
User
/* Adicione esta classe para controlar a visibilidade da imagem ampliada */
.imagem-ampliada {
    display: none;
}
.imagem-ampliada.mostrar {
    display: block;
}

.imagem-ampliada img {
    max-width: 80%; /* Defina a largura máxima desejada */
    max-height: 80%; /* Defina a altura máxima desejada */
}

.imagem-ampliada {
    display: none;
    position: fixed; /* Define a posição fixa para a imagem expandida */
    top: 50%; /* Ajusta a posição verticalmente */
    left: 50%; /* Ajusta a posição horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a imagem na tela */
    z-index: 9999; /* Garante que a imagem esteja acima de outros elementos */
    background-color: rgba(255, 255, 255, 0.9); /* Adiciona um fundo transparente */
    padding: 20px; /* Adiciona um espaço interno */
    border-radius: 10px; /* Adiciona cantos arredondados */
}

.imagem-ampliada .btn-close {
    position: absolute; /* Define a posição absoluta para o botão de fechar */
    top: 1px; /* Ajusta a posição do topo */
    right: 30px; /* Ajusta a posição da direita */
    z-index: 9999; /* Garante que o botão esteja acima da imagem */
}