<div class="container mt-3">
    <!-- Título da página -->
    <h3>Casa Colombo</h3>
    <p>Construir, Reformar e Decorar</p>
    <!-- Botão para cadastro de produto -->
    <div class="input-group mb-3">
        <button class="btn btn-success" type="button" (click)="filtrarProdutos()">Pesquisar</button>

        <input type="text" class="form-control" placeholder="Digite o nome do produto" aria-label="Pesquisar" aria-describedby="basic-addon1" [(ngModel)]="expression" (input)="filtrarProdutos()">
        
    </div>
    <!-- Tabela para exibir a consulta de produtos -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <!-- cabeçalho da tabela -->
            <thead>
                <tr>
                    <th>Miniatura</th> <!-- Nova coluna para miniaturas -->
                    <th>Lotes</th>
                    <th>Código</th>
                    <th>Nome do produto</th>
                    <th>Descrição</th>
                    <th>PEI</th>
                    <th>Marca</th>
                    <th>Peça CX</th>
                    <th>M2 CX</th>
                    <th>Preço M2</th>
                    <th>Preço CX</th>
                    <th>Qtd CX</th>
                    <th>Categoria</th>
                    <th>Operação</th>
                    <th>Vender</th>
                    <th>Confirmação</th>
                </tr>
            </thead>
            
        <ng-container *ngFor="let p of produtos"><!-- corpo da tabela -->
            <tbody>
                <tr>
                    <td><img [src]="p.imagemUrl" alt="{{p.nome}}" width="50" (click)="expandirImagem(p.imagemUrl)"></td>
                    <td> <!-- Nova coluna para o botão de mais detalhes -->
                        <button class="btn btn-info btn-sm" (click)="toggleDetalhes(p)">+</button>
                        <div *ngIf="p.mostrarDetalhes">
                            <!-- Aqui você pode listar os detalhes adicionais -->
                            <ul>
                                <li *ngFor="let modelo of p.modelos">{{ modelo }}</li>
                            </ul>
                        </div>
                    </td> <!-- Coluna para exibir a miniatura -->
                    <td>{{p.codigo}}</td>
                    <td>{{p.nome | uppercase}}</td>
                    <td>{{p.descricao}}</td>
                    <td>{{p.lote}}</td>
                    <td>{{p.marca}}</td>
                    <td></td>
                    <td></td>
                    <td></td>                  
                    <td></td>
                    <td>{{p.quantidade}}</td>
                    <td>{{p.categoria?.nome}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary me-2" (click)="editarProduto(p.id)">
                            Editar
                        </button>
                    </td>
                    <td>
                        <input type="number" min="0" [(ngModel)]="p.quantidadeVendida" style="width: 50px;">
                    </td>
                    <td>
                        <button class="btn btn-success" (click)="confirmarVenda(p)">Vender</button>
                    </td>
                    
                </tr>
                <tr *ngIf="p.mostrarDetalhes">
                    <td colspan="16">
                        <ul>
                            <li *ngFor="let modelo of p.modelos">{{ modelo }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </ng-container>
            <!-- rodapé da tabela -->
            <tfoot>
                <tr>
                    <td colspan="7">
                        Quantidade de produtos: {{produtos.length}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
   

</div>
<div class="imagem-ampliada">
    <button class="btn-close" (click)="fecharImagemAmpliada()">&times;</button>
    <img [src]="imagemAmpliadaUrl" alt="Imagem Ampliada">
</div>
