User


.imagem-ampliada {
  position: absolute;


  left: 0;
  right: 0;

  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);

}

.imagem-ampliada.mostrar {
  display: block;

}
 .barra-pesquisa {
  position: relative;
}

.btn-clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #999;
  z-index: 10;
  background-color: transparent;
  border: none;
}
.imagem-ampliada img {
  max-width: 100%;

  transition: transform 0.0s ease-in-out;



}

.imagem-ampliada img.zoom-out {
  cursor: zoom-out;
}

.controles-zoom {
  position: absolute;

  right: 10px;
}



.imagem-ampliada {

  display: none;
  position: absolute;
  
  top: 80%;
 
  left: 50%;
  
  transform: translate(-50%, -50%);

 
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.9);


}

.imagem-ampliada .btn-close {
  position: absolute;
  
  top: 1px;
  
  right: 30px;
  
  z-index: 9999;
 
}





.table {
  width: 100%;
  border-collapse: collapse;
}


.table th,
.table td {
  border: 1px solid #dddddd;
  padding: 8px;
 
  width: 150px;

  text-align: center;
}



td {
  vertical-align: middle;
}

.table {
  
  border: 1px solid #cccccc;
  

}

.table th {
  padding: 1px;
  
  border: 3px solid #ccc;
 
  background-color: #03682b;
  color: #fff;

}

.table td {
  padding: 1px;
 
  border: 1px solid #cccccc;
 


}

.inner-table {
  padding: 4px;
  border: none;
 
}


.line {
  height: 3px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(4, 105, 45);
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  
  margin-right: -10px;
  
}


.navbar-brand {
  margin-right: 50px;
  
}

.black-text {
  color: black;
 
}

.nav-item {
  margin-right: -23px;
}

.input-group {
  position: relative;
  width: 100%;
}

.barra-pesquisa {
  margin-top: 0px;
  
}

.form-control.lupa {
  padding-right: 45px;
 
  background-repeat: no-repeat;
  background-position: right;
  
  background-size: 70px;
 
  z-index: 1;
 
  height: 40px;
  
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 65px;
 
  cursor: pointer;
  z-index: 2;
  
}

.titulo {
  text-align: center;
 
  color: rgb(4, 105, 45);
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h2 {
  color: #03682b;
}


@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
  }

  .barra-pesquisa {
    width: 100%;
    margin-right: 10px;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .nav-item {
    margin: 0 8px;
    align-items: center;

  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th,
  .table td {
    padding: 3px;
  }
}

@media (max-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
  }

  .barra-pesquisa {
    width: 100%;
    margin-right: 10px;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    margin: 0 auto;
  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th,
  .table td {
    padding: 3px;
  }
}

@media (max-width: 375px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

  }

  .barra-pesquisa {
    width: 100%;

  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    margin: 0 auto;
  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th,
  .table td {
    padding: 3px;
  }
}

@media (max-width: 320px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;

  }

  .navbar-brand,
  .titulo-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 30px;
  }

  .barra-pesquisa {
    width: 100%;

  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    margin: 0 auto;

  }

  .navbar-collapse {
    justify-content: center;
    display: flex !important;
  }

  .table {
    width: 100%;
    font-size: 12px;
  }

  .table th,
  .table td {
    padding: 3px;
  }
}