<br>

<div *ngIf="mensagem" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{mensagem}}</strong>
  <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>
<div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{mensagemErro}}</strong>
  <button (click)="mensagemErro = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffffff; margin-left: 90px;margin-right: 140px; 
                        margin-top: -10px; margin-bottom: 0px; padding: 1px;">




  <div class="container mt-2">


    <a class="navbar-brand" href="inicio">
      <img src="/assets/cplg.png" alt="Logo" style="width: 200px; height: auto;">

    </a>
    <div class="container">
      <div class="d-flex justify-content-center align-items-center mb-4 gap-2" style=" margin-left: 71px;margin-right: 140px; 
                        margin-top: -10px; margin-bottom: 0px; padding: 1px;">
        <div>
          <button class="btn btn-outline-success " routerLink="/compras">
            <i class="bi bi-truck me-1"></i> Compras
          </button>

        </div>
        <div class="dropdown">
          <button class="btn btn-outline-success" routerLink="/cobranca">
            <i class="bi bi-cash-coin me-1"></i> Cobranças
          </button>

        </div>




      </div>
      <div class="input-group mb-3 barra-pesquisa ">
        <input type="text" class="form-control lupa" placeholder="Digite o nome Fornecedo" aria-label="Pesquisar"
          aria-describedby="basic-addon1" [(ngModel)]="expression" (input)="filtrarFornecedores()">
        <i class=" bi-trash-fill	btn-clear" (click)="limparPesquisa()"></i>
        <div class="overlay" (click)="filtrarFornecedores()"></div>
      </div>

    </div>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link black-text" data-bs-dismiss="modal" data-bs-toggle="modal"
            data-bs-target="#cadastrarFornecedor">
            <img src="/assets/2.2.png" alt="Ícone de Cadastro" width="110" height="110">
          </a>
        </li>


      </ul>
    </div>

  </div>
</nav>
<div class="line container mt-3  "></div>
<br>

<div class="col text-center"><strong>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </strong>
</div>

<div class="table-responsive  " style="padding:  10px;">




  <table class="table" style="font-weight: bold;">
    <!-- Cabeçalho da tabela -->
    <thead>
      <tr>
        
        
        <th style="width: 10%;">Nome</th>
        <th style="width: 8%;">Vendedor</th>
        <th style="width: 8%;">Tipo</th>
        <th style="width: 7%;">Tel Vend</th>
        <th style="width: 7%;">Tel Forn</th>
        <th style="width: 3%;">Obs</th>
        <th style="width: 3%;">Editar</th>

      </tr>
    </thead>
    <!-- Corpo da tabela -->
    <ng-container
      *ngFor="let fornecedor of fornecedores | paginate: { itemsPerPage: 50, currentPage: p }; let i = index">
      <tr [ngStyle]="{'background-color': getColor(i)}">
       
        
        <td>{{ fornecedor.fornecedo || '-' }}</td>
        <td>{{ fornecedor.vendedor || '-' }}</td>
        <td>{{ fornecedor.tipoFornecedor || '-' }}</td>
        <td>{{ fornecedor.teleVendedor || '-' }}</td>
        <td>{{ fornecedor.telefone || '-' }}</td>
        <td>
          <button class="btn btn-sm" [ngClass]="fornecedor.obs ? 'btn-primary' : 'btn-outline-secondary'"
            [style.background-color]="fornecedor.obs ? '#0d6efd' : 'transparent'"
            (click)="mostraObservacao(fornecedor)"></button>
        </td>

        <td>
          <button class="btn btn-outline-success btn-sm" (click)="onEdite(fornecedor.id)" data-bs-toggle="modal"
            data-bs-target="#edicaoFornecedor">

          </button>
        </td>



      </tr>
    </ng-container>

  </table>


  <tfoot>
    <tr>
      <td colspan="14">
        <strong> Quantidade fornecedores: {{ fornecedores.length }}</strong>
      </td>
    </tr>
  </tfoot>
</div>

<div class="col text-center"><strong>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
      nextLabel="Próximo"></pagination-controls></strong>



</div>

<div class="modal fade" id="edicaoFornecedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Edição de Fornecedor de Produto
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formFornecedor">

          <div class="container text-center">
            <div class="row justify-content-center">
              <div class="col-12">

                <!-- Primeira linha -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Razão social</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="empresa" />
                  </div>
                  <div class="col-md-6">
                    <label><strong>CNPJ</strong></label>
                    <input type="text" class="form-control text-center" placeholder="00.000.000/0000-00"
                      formControlName="cnpj" (input)="formatarCNPJ($event)" />
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-12">
                    <label><strong>Endereço</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="endereco" />
                  </div>
                </div>

                <hr>

                <!-- Segunda linha -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Telefone</strong></label>
                    <input type="text" class="form-control text-center" placeholder="(00) 00000-0000"
                      formControlName="telefone" (input)="formatarTelefone($event)" />

                  </div>
                  <div class="col-md-6">
                    <label><strong>Fornecedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="fornecedo" />
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Tipo Fornecedor</strong></label>
                    <select class="form-select text-center" formControlName="tipoFornecedor">
                      <option value=""> Selecione </option>
                      <option *ngFor=" let tipo of tipoFornec" [value]="tipo">{{tipo}}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label><strong>Vendedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="vendedor" />
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <label><strong>Tel - Vendedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="(00) 00000-0000"
                      formControlName="teleVendedor" (input)="formatarTelefoneVendedor($event)" />
                  </div>
                  <div class="col-md-6 ">
                    <label><strong>obs</strong></label>
                    <textarea class="form-control text-center" placeholder="Observação"
                      formControlName="obs"></textarea>
                  </div>
                </div>

                <hr>

              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">

          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="onSubmit()">
          Confirmar edição</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="cadastrarFornecedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 w-100" id="exampleModalLabel">Cadastrar Fornecedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formFornecedor">
          <div class="container text-center">
            <div class="row justify-content-center">
              <div class="col-12">

                <!-- Primeira linha -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Razão social</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="empresa" />
                  </div>
                  <div class="col-md-6">
                    <label><strong>CNPJ</strong></label>
                    <input type="text" class="form-control text-center" placeholder="00.000.000/0000-00"
                      formControlName="cnpj" (input)="formatarCNPJ($event)" />
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-12">
                    <label><strong>Endereço</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="endereco" />
                  </div>
                </div>

                <hr>

                <!-- Segunda linha -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Telefone</strong></label>
                    <input type="text" class="form-control text-center" placeholder="(00) 00000-0000"
                      formControlName="telefone" (input)="formatarTelefone($event)" />

                  </div>
                  <div class="col-md-6">
                    <label><strong>Fornecedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="fornecedo" />
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                    <label><strong>Tipo Fornecedor</strong></label>
                    <select class="form-select text-center" formControlName="tipoFornecedor">
                      <option value=""> Selecione </option>
                      <option *ngFor=" let tipo of tipoFornec" [value]="tipo">{{tipo}}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label><strong>Vendedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="Digite aqui"
                      formControlName="vendedor" />
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <label><strong>Tel - Vendedor</strong></label>
                    <input type="text" class="form-control text-center" placeholder="(00) 00000-0000"
                      formControlName="teleVendedor" (input)="formatarTelefoneVendedor($event)" />
                  </div>
                  <div class="col-md-6 ">
                    <label><strong>obs</strong></label>
                    <textarea class="form-control text-center" placeholder="Observação"
                      formControlName="obs"></textarea>
                  </div>
                </div>

                <hr>

              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer text-center">
        <div class="w-100">
          <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
            (click)="CadastrarFornecedo()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalObservacao" tabindex="-1" aria-hidden="true" style="text-align: center;">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p><strong>Observação:</strong></p>
        <div class="texto-obs">{{ observacaoSelecionada.obs || 'Nenhuma' }}</div>
        <br>
         <p><strong>CNPJ e razão social:</strong> <br>{{ observacaoSelecionada.cnpj || 'Nenhuma' }}
        <br>{{observacaoSelecionada.empresa}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>