.line {
    height: 3px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(4, 105, 45);
  }
  
  .titulo {
    text-align: center;
    /* Centraliza o texto */
    color: rgb(4, 105, 45);
    /* Define a cor do texto como verde */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

  .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    margin-right: -10px;
  }
  
  .navbar-brand {
    margin-right: 50px;
  }
  
  .nav-item {
    margin-right: -23px;
  }

  /* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
}

.logo {
    font-size: 24px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
}

.icons button {
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

/* Sales History Section */
.sales-history {
    padding: 40px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
}

.sales-history h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    text-align: center;
    margin: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Occurrences Summary Section */
.occurrences-summary {
    padding: 40px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
}

.occurrences-summary ul {
    list-style-type: none;
    padding: 0;
}

.occurrences-summary li {
    height: 40px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
}

/* Delivery Status Section */
.delivery-status {
    padding: 40px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
}

.delivery-status table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.delivery-status th, .delivery-status td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.delivery-status th {
    background-color: #333;
    color: white;
}
.quadrado {
    width: 700px;
    height: 100px;
    background-color: #3498db;
}

.retangulo {
    width: 1500px;
    height: 170px;
    background-color: #2ecc71;
    
    margin-right: 100PX;
}
