<br>
<br>

<h1 class="text-center" style="color: red;">PAGINA EM CONSTRUÇÃO</h1>
<br>


<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container d-flex justify-content-center">
        <a class="navbar-brand" href="consulta-produtos">
            <img src="/assets/mascot.jpeg" alt="Logo">
        </a>
    </div>
</nav>











<!--<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container d-flex justify-content-center">
        <a class="navbar-brand" href="consulta-produtos">
            <img src="/assets/CASA COLOMBO.jpg" alt="Logo">
        </a>
    </div>
</nav>
<div class="line"></div>

<div class="container-fluid">
    <div class="content">
        <div class="card" *ngFor="let produto of produtoMaisVendido">
            <h5>Mais vendido</h5>
            <p>
                <span style="color: #00080f;">{{ produto.nomeProduto }}</span><br>
                <span style="color: #00080f;">Quantidade Vendida: {{ produto.quantidade }}</span><br>
            </p>
        </div>
        <div class="card" *ngFor="let produto of produtoMenosVendido">
            <h5>Menos vendido</h5>
            <p *ngIf="produtoMenosVendido.length > 0">
                <span style="color: #00080f;">{{ produto.nomeProduto }}</span><br>
                <span style="color: #00080f;">Quantidade Vendida: {{ produto.quantidade }}</span><br>
            </p>
        </div>
        <div class="card scrollable-container" style="cursor: pointer;" data-toggle="modal" data-target="#modalProdutosAcabando">
            <h3 class="card-header">Pisos Acabando</h3>
        </div>
    </div>

    <div class="content">
        <div class="card large" *ngFor="let ocorrencia of ocorrencias">
            <h5>Ocorrência</h5>
            <p>
                <span style="color: #00080f;">Nome: {{ ocorrencia.nome }}</span><br>
                <span style="color: #00080f;">Tipo: {{ ocorrencia.tipoOcorrencia.nome }}</span><br>
                <span style="color: #00080f;">Loja: {{ ocorrencia.loja.nome }}</span><br>
                <span style="color: #00080f;">Observação: {{ ocorrencia.observacao }}</span><br>
            </p>
        </div>
        <div class="card large">
            <h5>Levantamento</h5>
            <p>(Informações do Banco de Dados)</p>
        </div>
    </div>

    <div class="buttons">
        <button type="button" class="btn btn-primary btn-lg">Adicionar nota de entrega</button>
        <button type="button" class="btn btn-secondary btn-lg">Dar baixa em Nota</button>
    </div>
</div>
<div class="modal fade" id="modalProdutosAcabando" tabindex="-1" role="dialog" aria-labelledby="modalProdutosAcabandoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProdutosAcabandoLabel">Produtos com Baixa Quantidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngFor="let produto of produtosComBaixaQuantidade" style="font-size: 16px; color: #202020;">
                    <strong>Nome: {{ produto.nome }} <br> Marca: {{ produto.marca }} <br> Quantidade: {{ produto.quantidade }}</strong>
                    <br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>-->