
 
    <div class="hero"></div>

<br>
<div class="container mt-3" >


    <nav class="navbar navbar-expand-lg navbar-dark"
        style="background-color: #ffffff; margin-bottom: 0px; padding: 12px;">

<h5>A casa colombo nasceu, com intuito de realizar seus sonhos da construção, reforma e decoração.
    em 2008 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nesciunt animi fugiat consequatur architecto ipsum maxime hic, 
    ut atque modi molestias non cum porro quibusdam facere officia possimus exercitationem nostrum. Vel!
</h5>

    </nav>
    <div class="line container mt-3"></div>
    




</div>

<br>

<div class="table-responsive">
    <table class="table table-bordered ">
        <!-- Cabeçalho centralizado -->
        <div style="text-align: center;">
            <img src="/assets/escalaicon.jpeg" alt="Ícone de Consulta" width="180" height="180">

        </div>
        <br>
        <!-- Corpo da tabela -->
        <tbody class="d-flex justify-content-center " style="gap: 20px;">
            
            <ng-container *ngFor="let escala of escalas">
                
                <tr>
                   
                    <td >
                        <img [src]="getFullImageUrl(escala.imagemUrl)" 
                             alt="{{ escala.nome }}" 
                             class="img-fluid"
                             style="width: 600px; height: 600px;"
                             (click)="expandirImagem(escala.imagemUrl)">
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>


<br>
<br>
<div class="line container mt-3"></div>

<h5 class="container mt-3">A casa colombo nasceu, com intuito de realizar seus sonhos da construçaõ, reforma e decoração.
    em 2008 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nesciunt animi fugiat consequatur architecto ipsum maxime hic, 
    ut atque modi molestias non cum porro quibusdam facere officia possimus exercitationem nostrum. Vel!
</h5>

<div class="quadros-container container mt-3">
    <!-- Coluna com Mais Vendidos e Menos Vendidos -->
    <div class="quadro-mais-menos">
        <!-- Mais Vendidos -->
        <div class="quadro quadro-mais-vendidos">
            <h5 style="text-align: center;">Pisos mais vendidos</h5>
            <ul>
                <li *ngFor="let produto of produtoMaisVendido">
                    <strong>{{ produto.posicao }} - {{ produto.nomeProduto }} - {{ produto.quantidade }} vendidos</strong>
                    <div class="line2"></div>
                </li>
            </ul>
        </div>

        <!-- Menos Vendidos -->
        <div class="quadro quadro-menos-vendidos ">
            <h5 style="text-align: center;">Pisos menos vendidos</h5>
            <ul>
                <li *ngFor="let produto of produtoMenosVendido">
                    <strong>{{ produto.posicao }} - {{ produto.nomeProduto }} - {{ produto.quantidade }} vendidos</strong>
                    <div class="line2"></div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Produtos com Estoque Baixo -->
    <div class="quadro quadro-estoque-baixo ">
        <h5 style="text-align: center;">Pisos com estoque baixo</h5>
        <div class="quadro-rolagem">
            <ul>
                <li *ngFor="let produto of produtosPisosComBaixaQuantidade">
                    <strong>{{ produto.nome }} - {{ produto.quantidade }} restantes</strong>
                    <div class="line2"></div>
                </li>
                
            </ul>
        </div>
    </div>
</div>
<br>
<h5 class="container mt-3">A casa colombo nasceu, com intuito de realizar seus sonhos da construçaõ, reforma e decoração.
    em 2008 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nesciunt animi fugiat consequatur architecto ipsum maxime hic, 
    ut atque modi molestias non cum porro quibusdam facere officia possimus exercitationem nostrum. Vel!
</h5>
<div class="quadros-container">
    
   

    <!-- Produtos com Estoque Baixo -->
    <div class="quadro quadro-estoqueP-baixo">
        <h5 style="text-align: center;">Produtos com estoque baixo</h5>
        <br>
        <div class="quadro-rolagem">
            <ul>
                <li *ngFor="let produto of produtosComBaixaQuantidade">
                    <strong>{{ produto.nomeProduto }} - {{ produto.quantidadeProd }} restantes</strong>
                    <div class="line3"></div>
                </li>
            </ul>
           
        </div>
        
    </div>
    
</div>

<br>

<div class="imagem-ampliada" *ngIf="imagemAmpliadaUrl" (wheel)="controlarZoom($event)">
    <button class="btn-close" (click)="fecharImagemAmpliada()">&times;</button>
    <div class="imagem-container">
        <img [src]="imagemAmpliadaUrl" alt="Imagem Ampliada" [style.transform]="zoomLevel" />
    </div>
</div>

