<div class="container">
    <!-- Primeira linha de imagens -->
    <div class="row">
      <div class="col">
            <a (click)="buscarProdutoPorId('fabe41e0-0143-4ccc-b3f6-c598f7ad45f3')">
              <img src="assets/imagens/SOLID.jpg" class="img-fluid" alt="Imagem 1">
              <p>DANTE MR HD34X60</p>
            </a>
       </div>
      <div class="col">
            <a (click)="buscarProdutoPorId('937b9292-608a-48bc-8f3c-e6ea3f7e7007')">
              <img src="assets/imagens/SOLID.jpg" class="img-fluid" alt="Imagem 1">
              <p>DANTE MR HD34X60</p>
            </a>
      </div>
      <div class="col">
        <a href="#"><img src="assets\imagens\castanhohd50.jpg" class="img-fluid" alt="Imagem 3"></a>
        <p>ENIGMA HD34X60</p>
      </div>
      <div class="col">
        <a href="#"><img src="assets\imagens\colinasczhd50.jpg" class="img-fluid" alt="Imagem 4"></a>
        <p>GRACE MR HD34X60 </p>
      </div>
      <div class="col">
        <a href="#"><img src="assets\imagens\sevilhabghd45.jpg" class="img-fluid" alt="Imagem 5"></a>
        <p>SOFT CL HD34X60 </p>
      </div>
    </div>
    
    <!-- Segunda linha de imagens -->
    <div class="row mt-4">
      <div class="col">
        <a href="#"><img src="assets\imagens\gracebphd.jpg" class="img-fluid" alt="Imagem 6"></a>
        <p>FLAMBOYANT BG HD20X60</p>
      </div>
      <div class="col">
        <a href="#"><img src="assets\imagens\softbghd.jpg" class="img-fluid" alt="Imagem 7"></a>
        <p>FENIX HD20X60 </p>
      </div>
      <div class="col">
        <a href="#"><img src="assets\imagens\naveganteshd.jpg" class="img-fluid" alt="Imagem 8"></a>
        <p>VIDOEIRO HD20X60 </p>
      </div>
      <div class="col">
        <a href="#"><img src="assets\imagens\luccahd.jpg" class="img-fluid" alt="Imagem 9"></a>
        <p>NOGUEIRA HD20X60</p>
      </div>
      <div class="col">
        <a href="#"><img src="assets\imagens\azulejobghd.jpg" class="img-fluid" alt="Imagem 10"></a>
        <p>ALAMO HD20X60</p>
      </div>
    </div>
  </div>