.line {
    height: 3px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(4, 105, 45);
  }
  .line2 {
    height: 3px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
  }
  .line3 {
    height: 3px;
    width: 100%;
    margin: 0 auto;
    background-color:  #036822;
  }
  .titulo {
    text-align: center;
   
    color: rgb(4, 105, 45);
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

  .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    margin-right: -10px;
  }
  
  .navbar-brand {
    margin-right: 50px;
  }
  
  .nav-item {
    margin-right: -23px;
  }

  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.quadros-container {
    display: flex;
    gap: 10px; 
  }
  
  .quadro {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #036822;
    
    color: #f4f4f4;
  }
  
  .quadro-mais-menos {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    flex: 2;
    
  }
  
  .quadro-estoque-baixo {
    flex: 2; 
    overflow-y: auto; 
    max-height: 100%; 
  }
  .quadro-estoqueP-baixo {
    flex: 2; 
    overflow-y: auto; 
    max-height: 100%; 
    background-color: #fbfbfb;
    color: #036822;
    text-align: center;
  }
  .quadro-rolagem ul {
    max-height: 330px; 
    overflow-y: auto; 
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .background {
    background-image: url('/assets/FundoLogin.png');
   
    
    
  }

  
  .hero {
    background-image: url('/assets/capa.jpeg');
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: calc(99vw * (600 / 1440)); 
    margin: 0; 
    padding: 0; 
  }